@font-face {
  font-family: 'Azeret Mono';
  src: url('../fonts/AzeretMono/AzeretMono-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Azeret Mono';
  src: url('../fonts/AzeretMono/AzeretMono-ThinItalic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Azeret Mono';
  src: url('../fonts/AzeretMono/AzeretMono-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Azeret Mono';
  src: url('../fonts/AzeretMono/AzeretMono-ExtraLightItalic.woff2')
    format('woff2');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Azeret Mono';
  src: url('../fonts/AzeretMono/AzeretMono-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Azeret Mono';
  src: url('../fonts/AzeretMono/AzeretMono-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Azeret Mono';
  src: url('../fonts/AzeretMono/AzeretMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Azeret Mono';
  src: url('../fonts/AzeretMono/AzeretMono-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Azeret Mono';
  src: url('../fonts/AzeretMono/AzeretMono-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Azeret Mono';
  src: url('../fonts/AzeretMono/AzeretMono-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Azeret Mono';
  src: url('../fonts/AzeretMono/AzeretMono-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Azeret Mono';
  src: url('../fonts/AzeretMono/AzeretMono-SemiBoldItalic.woff2')
    format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Azeret Mono';
  src: url('../fonts/AzeretMono/AzeretMono-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Azeret Mono';
  src: url('../fonts/AzeretMono/AzeretMono-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Azeret Mono';
  src: url('../fonts/AzeretMono/AzeretMono-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Azeret Mono';
  src: url('../fonts/AzeretMono/AzeretMono-ExtraBoldItalic.woff2')
    format('woff2');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Azeret Mono';
  src: url('../fonts/AzeretMono/AzeretMono-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Azeret Mono';
  src: url('../fonts/AzeretMono/AzeretMono-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
